*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #ffffff;

    & .main-login{
        width: 50%;
        height: 100vh;
        background-color: rgba(83, 11, 99, 0.582);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        & .textfield{
            width: 60%;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
    
            & input{
                width: 100%;
                border: none;
                border-radius: 10px;
                padding: 15px;
                background-color: #575757;
                color: #ffffff;
                font-size: 12pt;
                box-shadow: #02020256;
                outline: none;
            }
    
            & label {
                color: #000000;
                margin-bottom:  10px;
            }
        }
    
        .buttons{
            width: 60%;
            height: 10%;  
            margin-top: 30px;

            & .login{
                margin: 0 auto;
                width:95%;

                & .btn-login{
                    width: 45%;
                    height: 50%;
                    border: none;
                    border-radius: 8px;
                    font-weight: 800;
                    letter-spacing: 3px;
                    color: #2b134b;
                    background-color: #ffffff;
                    cursor: pointer;
                    box-shadow: 0px 10px 40px -12px #00000052;
                    float: left;
                }

                & .btn-login:hover{
                    background-color: rgba(0, 0, 0, 0.11);
                    color: #ffffff;
                }
            
                & .btn-cadastro{
                    width: 45%;
                    height: 50%;
                    border: none;
                    border-radius: 8px;
                    font-weight: 800;
                    letter-spacing: 3px;
                    color: #2b134b;
                    background-color: #ffffff;
                    cursor: pointer;
                    box-shadow: 0px 10px 40px -12px #00000052;
                    float: right;
                }      

                & .btn-cadastro:hover{
                    background-color: rgba(0, 0, 0, 0.11);
                    color: #ffffff;
                }
        
                & input::placeholder{
                    color: #ffffff;
                }
            }           
        }
    }      
}



